[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    myenv,
    build,
    dist,
    *.egg-info,
    .github,
    private/pb/*_pb2.py,
    private/pb/*_pb2_grpc.py
ignore = 
    E203,  # whitespace before ':'
    E501,  # line too long (handled by black)
    W503,  # line break before binary operator
    E402,  # module level import not at top of file
per-file-ignores =
    __init__.py:F401,F403
max-complexity = 15

